@model RepairshopWeb.Data.Entities.Billing

@{
    ViewData["Title"] = "Details";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1><b>DETAILS</b></h1>
<hr />

<div>
   <div class="row" style="color: black; font-family: Arial; font-size: medium">
       <div class="col-md-8">
            <dl class="row">
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.IssueDate)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.IssueDate)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.RepairOrder)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.RepairOrder.Id)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Client)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Client.FullName)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Vehicle)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Vehicle.LicensePlate)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.PaymentMethod)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.PaymentMethod)
                </dd>
            </dl>
       </div>
   </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning" data-toggle="tooltip" title="Edit"><i class="fa-solid fa-user-pen"></i></a> 
    <a asp-action="Index" class="btn btn-success"><i class="fa-solid fa-angles-left"></i> Back</a>
</div>
