@model IEnumerable<RepairshopWeb.Data.Entities.AppointmentDetailTemp>

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<br />
<h1 style="margin-left: 20px;"><b>NEW APPOINTMENT</b></h1>
<br />
<p style="margin-left: 20px;">
    <a asp-action="AddAppointment" class="btn btn-success" data-toggle="tooltip"><i class="fa-solid fa-plus"></i>Add Appointment</a>
    <a asp-action="ConfirmAppointment" class="btn btn-primary" id="btnConfirm">Confirm</a>
</p>
<br />
<table id="MyTable" class="table" style="font-family: Arial; font-size: small">
    <thead style="text-transform: uppercase">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlertDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlertDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.LicensePlate)
                </td>
                <td id="@item.Id">
                    <a asp-action="DeleteItem" asp-route-id="@item.Id" class="btn btn-danger" id="btnDeleteItem" data-toggle="tooltip" title="Delete"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p style="margin-left: 20px;">
    <a asp-action="Index" class="btn btn-success"><i class="fa-solid fa-angles-left"></i> Back</a>
</p>

<div id="confirmDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
            </div>
            <div class="modal-body">
                <p style="color: black; font-family: Arial; font-size: small">Do you confirm the Repair Order?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYesConfirm">Yes</button>
                <button type="button" class="btn btn-success" id="btnNoConfirm">No</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
            </div>
            <div class="modal-body">
                <p style="color: black; font-family: Arial; font-size: small">Do you want to delete the service from Repair Order?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYesDelete">Yes</button>
                <button type="button" class="btn btn-success" id="btnNoDelete">No</button>
            </div>
        </div>
    </div>
</div>

@* Load datatable css *@
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            var id = 0;
            $("#btnConfirm").click(function() {
                $("#confirmDialog").modal("show");
                return false;
            });
            $("#btnNoConfirm").click(function() {
                $("#confirmDialog").modal("hide");
                return false;
            });
            $("#btnYesConfirm").click(function() {
                window.location.href = "/RepairOrders/ConfirmRepairOrder";
            });
            $("a[id*=btnDeleteItem]").click(function() {
                debugger;
                id = $(this).parent()[0].id;
                $("#deleteDialog").modal("show");
                return false;
            });
            $("#btnNoDelete").click(function() {
                $("#deleteDialog").modal("hide");
                return false;
            });
            $("#btnYesDelete").click(function() {
                window.location.href = "/RepairOrders/DeleteItem/" + id;
            });
        });
    </script>

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#MyTable').DataTable();
        });
    </script>
}


