@model IEnumerable<RepairshopWeb.Data.Entities.Appointment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<br />
<p style="margin-left: 20px;">
    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-plus"></i>  Create New</a>
</p>
<br />
<div class="row" style="font-family: Arial; font-size: small; margin-left: 10px; margin-right: 10px;">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><b>APPOINTMENTS</b></h1>
            </div>
            <br />
            <div>
                <table id="MyTable" class="table table-hover table-striped">
                    <thead style="text-transform: uppercase;">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.User.FullName)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AppointmentDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AlertDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Client)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vehicle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AppointmentStatus)
                            </th>
                            <th width="20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>

                                <th>
                                    @Html.DisplayFor(modelItem => item.User.FullName)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AppointmentDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AlertDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Client.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vehicle.LicensePlate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AppointmentStatus)
                                </td>
                                <td style="text-align:right">
                                    <a asp-action="AppointmentStatus" asp-route-id="@item.Id" class="btn btn-warning" id="btnChangeStatus" data-toggle="tooltip" title="Change Appointment Status"><i class="fa-solid fa-calendar-check"></i></a> |
                                    <a asp-controller="RepairOrders" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary" id="btnCreate" data-toggle="tooltip" title="Repair Order"><i class="fa-sharp fa-solid fa-list-check"></i></a> |
                                    <a asp-action="DeleteAppointments" asp-route-id="@item.Id" class="btn btn-danger" id="btnDelete" data-toggle="tooltip" title="Delete"><i class="fa-solid fa-trash-can"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />

@* Load datatable css *@
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css" />

@* Load datatable js *@
@section Scripts{
    <script src="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#MyTable').DataTable();
        });
    </script>
}



